.feature-list {
  display: flex;
}

.feature-list__item {
  width: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.feature-list__box {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 100px;

  background-color: #f5f4fa;
}

.feature-list__title {
  margin-bottom: 10px;

  font-size: 14px;
  text-transform: uppercase;
}

.feature-list__text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}
