.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list__item {
  width: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;

  background-color: #ffffff;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:last-child {
    margin-right: 0;
  }
}

.team-list__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--secondary-text-color);
}

.soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.soc-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.soc-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  color: var(--icon-color);

  transition: background 250ms var(--timing-function),
              color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-text-color);
  }
}

.soc-list__icon {
  fill: currentColor;
}
